EDGEAGENT_POSTGRES_DB=edgeagent
EDGEAGENT_POSTGRES_USER=edgeagent
EDGEAGENT_POSTGRES_PASSWORD=edgeagent-local-postgres
EDGEAGENT_S3_ACCESS_KEY=edgeagent-local-access
EDGEAGENT_S3_SECRET_KEY=edgeagent-local-secret
EDGEAGENT_S3_BUCKET=edgeagent-local
